<main id="root">

  <script type='text/javascript'>
    window.frogLogo = "<%= asset_path('frog_logo.png') %>"
    window.travelImg = "<%= asset_path('travel.png') %>"
    window.workImg = "<%= asset_path('work.png') %>"
    window.playImg = "<%= asset_path('play.png') %>"
    window.frogLily = "<%= asset_path('frogLily.png') %>"
    window.lookingGlass = "<%= asset_path('lookingGlass.png') %>"
    window.arrowPaths = "<%= asset_path('arrow_paths.png') %>"
  </script>

</main>
